{% extends "_base/function.html.jinja" %}

{% block source scoped %}
  {#- Source block.

  This block renders the source code for the function.
  -#}
  {% if config.show_source and function.source %}
    <details class="quote">
      <summary>{{ lang.t("Source code in") }} <code>
        {{ function.relative_package_filepath }}
      </code></summary>
      {{ function.source|highlight(language="python", linestart=function.lineno or 0, linenums=True) }}
    </details>
  {% endif %}
{% endblock source %}
